<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> <%= user.username %> </h1>
    <img style="width:50px"class="pfp" src="<%= user.pfpPath %>">
    <div class="pfp-wrapper">
        <form action="/users/<%= user.userID %>/pfp" method="POST" enctype="multipart/form-data">
            <span>Set profile picture:</span>
            <input type="file" name="pfp" required>
            <button>Submit</button>
        </form>
    </div>
    <div class="music-wrapper">
        <form action="/users/<%= user.userID %>/music" method="POST" enctype="multipart/form-data">
            <input id="name" type="text" name="name" placeholder="Song title" required>
            <input id="genre" type="text" name="genre" placeholder="genre" required>
            <input id="link" type="checkbox" name="link">
            <label for="link">Upload file?</label>
            <span>Upload music:</span>
            <input type="file" name="music">
            <button>Submit</button>
        </form>
    </div>
</body>
</html>