<link rel="stylesheet" href="/css/main.css">

<nav class="topbar">
    <a href="/post">Home</a>
    <a href="/uploadSong">Upload</a>
    <a href="#page1">Playlist</a>
    <a href="/account">Account</a>
    <a href="/recommendation">Recommendation</a>
    <a href="/logout" style="float: right">Logout</a>
</nav>