html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#cover {
    margin:auto;
    width:200px;
    height:200px;
    background-position:center;
    background-size:cover;
    background-image: url(/pfp/music.png);
}

body{
    margin: 0 auto;
    background-image: url("/images/background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

.topbar{
    background-color: #1d1d1d;
    overflow: hidden;
}

.topbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 3px solid #1d1d1d;
}
/* END_ONLINE_BLOCK */

.topbar a:hover{
    border-bottom: 3px solid #E8B35A;
} 

.topbar .active{
    border-bottom: 3px solid #E8B35A;
}

input{
    height: 30px;

}

.ignore{
    all:unset;
}

#play{
   max-height: 10%; 
   max-width: 10%; }

h1,h3 {
    color: #1d1d1d;
    font-size: 24px;
    line-height: 5px;
}

.song{
    font-size:20px;
    color: #1d1d1d;
}

#audio{
    color:blue;
}

p {
    font-size: 16px;
    color: #1d1d1d;
    line-height: 5px;
}

.post, .YTurl{
    border: none;
    border-radius: 5px;
    margin: auto;
    border-width: .2px;
    width: 30%;
    height: 500px;
    padding: 10px;
    margin-top: 50px;
    align-items: center;
    box-shadow: 0px 3px 10px #aaaaaa;
    
}

.album{
    max-height: 70%;
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    

.pfp{
    max-height: 8%;
    max-width: 8%;
}

.like {
    margin-left: auto;
    margin-right: auto;  
}
button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
  }
/* .liked:hover {
    filter: hue-rotate(180deg);
} */
.unliked {
    filter: hue-rotate(0deg);
}
#heart{
    max-height: 7%;
    max-width: 7%;
    float: right;
}

#x{
    max-height: 6.5%;
    max-width: 6.5%;
    float: right;
    margin-right: 25px;
}

.comments{
    text-decoration: none;
    color:#aaaaaa;
    font-size: 14px;
}

#heart{
    margin: auto;
    display: inline;
    position: relative;
    float:right;
    bottom: 30px;
    /* padding-bottom: 500px; */
    max-height: 7%;
    max-width: 7%;

}

#comment-pic{
    float:left;
    max-height:20%;
    max-width:7%;
    margin: auto;
    position: relative;
    padding: 10px;
}